@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel

@{
    ViewBag.Title = "Search by name";
    Layout = "_Layout";
}

<div>
    <form asp-controller="Drinks" asp-action="SearchByName" method="get">
        <p>
            Enter a drink name to find <br/>(Tip: you can provide a part of the name you are looking for):<br/> 
            <input type="text" name="SearchString">
            <input type="submit" value="Search" />
            <br />
        </p>
    </form>
</div>

<partial name="Partials/DrinksPagination" model="Model" />
