@using DrinkManagerWeb.Resources
@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel
@inject IStringLocalizer<SharedResource> L

@{
    ViewBag.Title = "Drinks";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <header class="d-flex align-items-center">
            <h1>@L["FavouriteDrinksList"]</h1>
            <div class="buttons ml-auto">
            </div>
        </header>
        @if (Model.Drinks.Any())
        {
            <partial name="Partials/DrinkList" model="@Model" />
            <partial name="Partials/Pagination" model="@Model" />
        }
        else
        {
            <p>@L["NoFavouriteDrinksYet"].</p>
        }
    </div>
</div>