@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel

@{
    ViewBag.Title = "Drinks";
    Layout = "_Layout";
}

<div class="col-12">
    <h2>All Drinks</h2>

    @foreach (var drink in Model.Drinks)
    {
        <h4>@drink.Name</h4>
    }
</div>