@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel

@{
    ViewBag.Title = "Drinks";
    Layout = "_Layout";
}

<div class="row px-4">
    <div class="col-12">
        <header class="d-flex align-items-center">
            <h1>Drink List</h1>
            <div class="buttons ml-auto">

                <a asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus mr-2"></i>
                    Create New Drink
                </a>
            </div>
        </header>
        <partial name="Partials/DrinkListPartialView" model="Model"/>
    </div>
</div>