@using DrinkManagerWeb.Resources
@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel
@inject IStringLocalizer<SharedResource> L

@{
    ViewBag.Title = "Drinks";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <partial name="_AlertPartial" />
        <header class="d-flex align-items-center">
            <h1>@L["DrinkList"]</h1>
            <div class="buttons ml-auto">

                <a asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus mr-2"></i>
                    @L["CreateNewDrink_diff"]
                </a>
            </div>
        </header>
        <partial name="Partials/DrinkList" model="Model" />
        <partial name="Partials/Pagination" model="Model" />
    </div>
</div>