@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel

@{
    ViewBag.Title = "Search by ingredients";
    Layout = "_Layout";
}

<div>
    <form asp-controller="Drinks" asp-action="SearchByIngredients" method="get">
        <p>
            Enter ingredients to find: <input type="text" name="SearchString">
            <input type="radio" id="any" name="condition" value="any" checked="checked" />
            <label for="all">Any</label>
            <input type="radio" id="all" name="condition" value="all" />
            <label for="any">All</label>
            <input type="submit" value="Search" />
        </p>
    </form>
</div>

<partial name="Partials/DrinksList" model="Model" />
