@using BLL
@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel

@{
    ViewBag.Title = "Drinks";
    Layout = "_Layout";
}
<div class="row px-4">
    <div class="col-12">
        <header class="d-flex align-items-center">
            <h1>Search by Alcohol Content</h1>
        </header>
        @*Checkboxes returns user choice of alcohol content to controller. 
            They are automatically checked when user comes to this view from another view*@
        <div>
            <form asp-route-pageNumber="1" method="post">
                <div class="form-check">
                    @Html.CheckBoxFor(item => item.Alcoholics, new { @class = "form-check-input", @id = "alcoholicsCheck" })
                    <label class="form-check-label" for="alcoholicsCheck">Alcoholic Drinks</label>
                </div>
                <div class="form-check">
                    @Html.CheckBoxFor(item => item.NonAlcoholics, new { @class = "form-check-input", @id = "nonAlcoholicsCheck" })
                    <label class="form-check-label" for="nonAlcoholicsCheck">Non Alcoholic Drinks</label>
                </div>
                <div class="form-check">
                    @Html.CheckBoxFor(item => item.OptionalAlcoholics, new { @class = "form-check-input", @id = "optionalAlcoholicsCheck" })
                    <label class="form-check-label" for="optionalAlcoholicsCheck">Optional Alcohol Drinks</label>
                </div>
                <button>Search</button>
            </form>
        </div>
        <partial name="Partials/DrinkList" model="Model"/>
        <partial name="Partials/Pagination" model="Model" />
    </div>
</div>