<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrinkManagerWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- sidebar -->
    <div class="container-fluid">
        <div class="row wrapper">
            <div class="col-2 sidenav pt-3">
                <h2 class="text-center pb-3"> Drink Manager</h2>
                <ul class="navbar-nav flex-grow-1 pl-5">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Drinks" asp-action="Index">All drinks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Search by name</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Search by alcohol content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Search by ingredient</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Favourite drinks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Reviewed drinks</a>
                    </li>
                </ul>
            </div>

            <main class="col-10 p-0">

                <!-- page body -->
                <div>
                    @RenderBody()
                </div>


                <!-- footer -->
                <footer class="border-top footer text-muted">
                    <div class="p-1 pl-4">
                            &copy; 2020 - DrinkManagerWeb
                        </div>
                    </footer>
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
