@page
@using DrinkManagerWeb.Resources
@using Microsoft.Extensions.Localization
@model ConfirmEmailChangeModel
@inject IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = @L["ConfirmEmailChange"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />