@page
@using DrinkManagerWeb.Resources
@using Microsoft.Extensions.Localization
@model LogoutModel
@inject IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = @L["Log out"];
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@L["YouHaveSuccessfullyLoggedOutOfTheApplication"].</p>
</header>