@page
@using DrinkManagerWeb.Resources
@using Microsoft.Extensions.Localization
@model ResetPasswordConfirmationModel
@inject IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    @L["YourPasswordHasBeenReset"]. <a asp-page="./Login">@L["ClickHereToLogIn"]</a>.
</p>
