<div class="card">
    <div class="card-body">
        <img class="w-100 rounded shadow-lg" src="https://altimadental.pl/wp-content/uploads/2015/01/default-placeholder.png"/>
    </div>
    <div class="card-footer">
        None
    </div>
</div>