@model DrinkManager.API.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Administration - Create User";
    Layout = "_LayoutAdmin";
}

<h2>Create User</h2>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-form-label text-md-right col-md-2" asp-for="Email"></label>
        <div class="col-md-9">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label text-md-right col-md-2" asp-for="Password"></label>
        <div class="col-md-9">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label text-md-right col-md-2" asp-for="ApplicationRoleId"></label>
        <div class="col-md-9">
            <select class="form-control" asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles">
                <option>Please select</option>
            </select>
            <span asp-validation-for="ApplicationRoleId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-auto">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Users" class="btn btn-secondary">Back</a>
        </div>
    </div>
</form>
