@model Domain.AppUser
@{
    ViewBag.Title = "Administration - Delete User";
    Layout = "_LayoutAdmin";
}
<h2>Delete user: @Model.UserName</h2>
<hr />
<form asp-action="DeleteUser" method="post">
    <div class="panel">
        <div class="panel-heading">
            Do you want to delete user: @Model.UserName ?
        </div>
        <div class="panel-footer">
            <a class="btn btn-info" asp-controller="Admin" asp-action="Users">No</a>
            <button type="submit" class="btn btn-danger">Yes</button>
        </div>
    </div>
</form>
