@model DrinkManagerWeb.Models.ViewModels.AdminIndexViewModel
@{
    ViewBag.Title = "Administration";
    Layout = "_LayoutAdmin";
}
<h2>Administration</h2>
<h4>Manage users, roles and application settings</h4>
<hr />
<p>
    Welcome to Administration Panel!<br /><br/>
    Today is: @Model.DayOfWeekToday @Model.DateToday<br />
    You are logged as: @Model.UserName<br />
</p>