@{
    ViewBag.Title = "Administration";
    Layout = "_Layout";
}

<div class="bg-info text-white p-2">
    <span class="navbar-brand ml-2">Administration</span>
</div>
<div class="container">
    <div class="btn btn-outline-primary btn-block" href="/admin/">Placeholder1</div>
    <div class="btn btn-outline-primary btn-block" href="/admin/">Placeholder2</div>
    <div class="btn btn-outline-primary btn-block" href="/admin/">Placeholder3</div>
</div>

@*// or use tag helpers buttons linked to action method in admin controller*@
