@{
    ViewBag.Title = "Administration";
    Layout = "_LayoutAdmin";
}
<h2>Administration panel</h2>
<div>
<h4>Manage users, roles and application settings</h4>
    <hr />
    <p>General info on what can we do from admin panel</p>
</div>
