@using Microsoft.Extensions.Configuration
@model DrinkManagerWeb.Models.ViewModels.RoleViewModel
@inject IConfiguration Configuration
@{
    ViewBag.Title = "Administration - Roles";
    Layout = "_LayoutAdmin";
}
<h2>Roles</h2>
<hr />
<a asp-action="CreateRole" class="btn btn-secondary">Create Role</a>
<br />
<br />
<table class="table table-sm table-bordered table-hover table-striped">
    <tr class="thead-light"><th>Role name</th><th>Users in role</th><th></th></tr>
    @foreach (var role in Model.Roles)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                @foreach (var user in Model.UsersPerRole[@role.Name])
                {
                    <span>@user</span><br />
                }
            </td>
            <td class="text-center">
                @if (role.Name != Configuration["AppSettings:RestrictedName"])
                {
                    <form asp-action="DeleteRole" asp-route-id="@role.Id" method="get">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                }
            </td>
        </tr>
    }
</table>
