@model DrinkManagerWeb.Models.ViewModels.UserEditPasswordViewModel
@{
    ViewBag.Title = "Administration - Edit Password";
    Layout = "_LayoutAdmin";
}

<h2>Edit @Model.Email password</h2>
<hr />
<form asp-action="UpdateUserPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Email" type="hidden" />
    <div class="form-group row">
        <label class="col-form-label text-md-right col-md-2" for="Password">Password</label>
        <div class="col-md-9">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-md-2 col-auto">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Users" class="btn btn-secondary">Back</a>
        </div>
    </div>
</form>