@model DrinkManagerWeb.ViewComponents.CulturePickerModel

<div>
    <form method="GET">
        <div class="form-group">
            <label class="sr-only" for="culture-picker">
                Culture
            </label>
            <select
                id="culture-picker"
                class="form-control"
                name="culture"
                onchange="this.parentElement.parentElement.submit();">
                @foreach (var culture in Model.SupportedCultures)
                {
                    <option
                        value="@culture.Name"
                        selected="@(Model.CurrentUiCulture.Name == culture.Name)">
                        @culture.DisplayName
                    </option>
                }
            </select>
        </div>
    </form>
</div>