@import "../../styles/_variables";

.page-item.active .page-link {
  background-color: $accent-light;
  border-color: $accent-light;
}

.page-link {
  color: $accent-light;
  &:hover {
    color: $accent-light;
  }
}
