@using DrinkManager.API.Resources
@inject IStringLocalizer<SharedResource> L

<button class="btn mr-3 btn-dark btn-block" onclick="goBack()">@L["GoBack"]</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>