@import "../../styles/_variables";

.card-img {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 80%;
  /* margin: 0 auto; */
}
.add-drink {
  background: $accent-dark;
  color: $text-light;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 0.75rem;
  right: 0.75rem;
  position: absolute;
}

.page-item.active .page-link {
  background-color: $accent-light;
  border-color: $accent-light;
}

.page-link {
  color: $accent-light;
  &:hover {
    color: $accent-light;
  }
}
