@import "./_variables";

html,
body {
  background: linear-gradient(45deg, #edf0ff 0%, #ecedfa 100%);
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.rounded {
  border-radius: 2rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.page-link,
.nav-link,
.navbar-brand {
  font-family: "Merriweather Sans", sans-serif;
}

.nav-link {
  color: #6b6b6b;
  &:hover,
  &.active {
    color: $accent-light !important;
  }
}
