@page
@using Microsoft.Extensions.Localization
@using DrinkManagerWeb.Resources
@model AccessDeniedModel
@inject IStringLocalizer<SharedResource> L
@{
    ViewData["Title"] = @L["AccessDenied"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@L["YouDoNotHaveAccessToThisResource"].</p>
</header>
