@page
@using DrinkManagerWeb.Resources
@using Microsoft.Extensions.Localization
@model ConfirmEmailModel
@inject IStringLocalizer<SharedResource> L
@{
    ViewData["Title"] = @L["ConfirmEmail"];
}

<h1>@ViewData["Title"]</h1>