@page
@using DrinkManagerWeb.Resources
@using Microsoft.Extensions.Localization
@model ForgotPasswordConfirmation
@inject IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = @L["ForgotPasswordConfirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @L["PleaseCheckYourEmailToResetYourPassword"].
</p>

