@page
@using DrinkManagerWeb.Resources
@using Microsoft.Extensions.Localization
@model LockoutModel
@inject IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = @L["LockedOut"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@L["ThisAccountHasBeenLockedOut"].</p>
</header>
