@model DrinkManager.API.ViewComponents.CulturePickerModel

<div class="d-flex justify-content-center">
    <form method="GET">
        <div class="form-group">
            <label class="sr-only" for="culture-picker">
                Culture
            </label>
            <select id="culture-picker1"
                    class="form-control culture-dropdown"
                    name="culture"
                    onchange="this.parentElement.parentElement.submit();">
                @foreach (var culture in Model.SupportedCultures)
                {
                    <option value="@culture.Name"
                            selected="@(Model.CurrentUiCulture.Name == culture.Name)">
                        @culture.TwoLetterISOLanguageName
                    </option>
                }
            </select>
        </div>
    </form>
</div>