/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.logo {
    line-height: 1.1;
    color: #212529;
    font-size: 2rem;
}

    .logo:hover {
        color: #212529;
        text-decoration: none;
    }

    .logo i {
        color: #212529;
        border: 5px solid #212529;
        padding: .75rem;
        border-radius: 1rem;
    }

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.sidenav {
    background-color: #ffdd67;
}

body {
    background-color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
/* Drink details page styles
-------------------------------------------------- */
.w-100 {
    width: 100%;
}

.card-body.reviews .review:last-child {
    border: none !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}




@media all and (max-width: 1915px) {
    .sidenav a span {
        display: none;
    }

    .sidenav li {
        justify-content: center;
    }

    .logo .text-left {
        display: none;
    }

    .logo {
        justify-content: center;
    }

    .sidenav {
        width: 125px;
    }
}

@media all and (min-width: 1916px) {
    .logo i, .sidenav i {
        margin-right: 1rem;
    }

    .sidenav li {
        padding: 0 1rem;
    }

    .sidenav {
        width: 300px;
    }
}

@media all and (max-width: 767px) {
    .sidenav {
        width: 100%;
        display: flex;
    }

    .wrapper {
        min-height: unset;
    }

    .navbar-nav {
        flex-wrap: wrap;
    }
}

.navbar-brand {
    color: #212529;
    font-size: 2rem;
}

    .navbar-brand:hover {
        color: #212529;
    }

.input-validation-error {
    border: 1px solid red;
}

.nav-link:hover, .nav-item.active .nav-link {
    color: #ffdd67;
    background-color: #212529;
}

a {
    color: inherit;
}

.checked {
    color: #ffdd67;
}

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    color: #ddd;
}

.rating input {
    display: none;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
    color: #ffdd67;
}


.card ul {
    list-style: none;
}

.bg-dark {
    background-color: #212529!important;
}