@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel
<div class="row px-4">
    <div class="col-12">
        <header class="d-flex align-items-center">
            <h1>Search by Alcohol Content</h1>
        </header>
        <div>
            <form asp-route-pageNumber="1" method="post">
                <div class="form-check">
                    @Html.CheckBoxFor(item => item.Alcoholics, new { @class = "form-check-input", @id = "alcoholicsCheck" })
                    <label class="form-check-label" for="alcoholicsCheck">Alcoholic Drinks</label>
                </div>
                <div class="form-check">
                    @Html.CheckBoxFor(item => item.NonAlcoholics, new { @class = "form-check-input", @id = "nonAlcoholicsCheck" })
                    <label class="form-check-label" for="nonAlcoholicsCheck">Non Alcoholic Drinks</label>
                </div>
                <div class="form-check">
                    @Html.CheckBoxFor(item => item.OptionalAlcoholics, new { @class = "form-check-input", @id = "optionalAlcoholicsCheck" })
                    <label class="form-check-label" for="optionalAlcoholicsCheck">Optional Alcohol Drinks</label>
                </div>
                @*<input name="Alcoholics" type="checkbox" value="true" /> Alcoholic Drinks<br />
                    <input name="NonAlcoholics" type="checkbox" value="true" /> Non Alcoholic Drinks<br />
                    <input name="OptionalAlcoholics" type="checkbox" value="true" /> Optional Alcohol Drinks<br />*@
                <button>Search</button>
            </form>
        </div>
    </div>
</div>