@model DrinkManagerWeb.Models.ViewModels.DrinksViewModel

<div class="row">
    @foreach (var drink in Model.Drinks.OrderBy(x => x.Name))
    {
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card">
                <a class="page-link" asp-action="DrinkDetails" asp-route-id="@drink.DrinkId"><img class="w-100 rounded shadow-lg" src="@drink.ImageUrl"/>
                </a>
                @if (drink.IsFavourite)
                {
                    <i class="fa fa-heart heart card-img-overlay"></i>
                }
                <div class="card-body text-center">
                    <a class="card-title text-dark" asp-action="DrinkDetails" asp-route-id="@drink.DrinkId"><h4>@drink.Name</h4></a>
                </div>
            </div>
        </div>
    }
</div>